<form #prodForm="ngForm" (ngSubmit)="submit()">
    <h2 class="subtitle">{{edit?'Modificar Producto':'Crear Producto'}} <a class="is-size-6 has-text-primary" (click)="test()">test</a></h2>
    <div class="field">
        <label for="proddesc" class="label">Descripción</label>
        <input type="text" name="proddesc" class="input" placeholder="Producto" [(ngModel)]="product.description" required>
    </div>
    <div class="field">
        <label for="ref" class="label">Referencia</label>
        <input type="text" name="ref" class="input" placeholder="Referencia" [(ngModel)]="product.ref">
    </div>
    <div class="field">
        <label for="size" class="label">Tallas</label>
        <input type="text" name="size" class="input" placeholder="Ej.: 37-43" [(ngModel)]="product.size" required>
    </div>
    <div class="field">
        <label for="cost" class="label">Costo</label>
        <input type="number" name="cost" class="input" placeholder="Costo" [(ngModel)]="product.cost" required>
    </div>
    <div class="field">
        <label for="price" class="label">Precio</label>
        <input type="number" name="price" class="input" placeholder="Precio" [(ngModel)]="product.price" required>
    </div>
    <div class="field">
        <label for="image" class="label">Imagenes</label>
        <div class="field">
            <div class="file has-text-centered is-boxed is-fullwidth is-large is-warning">
                <label class="file-label">
                    <input accept="image/*" (change)="inputFile($event.target.files);$event.target.value = null" class="file-input" type="file" name="resume" multiple>
                    <span class="file-cta">
                        <span class="file-icon">
                            &#8756;
                        </span>
                        <span class="file-label">
                            {{images.length==0?'Subir Fotos':'Agregar más fotos'}}
                        </span>
                    </span>
                </label>
            </div>
        </div>
        <div class="field">
            <div class="control" style="display: flex;flex-wrap: wrap;">
                <div *ngFor="let image of images; let i = index" style="width: 100px;margin: 5px">
                    <div *ngIf="image.url != ''" class="srg-image-4-3 notification"
                        [style.background]="'url('+getImageSrc(image.url)+')'"
                        [style.background-position]="'center'"
                        [style.background-size]="'cover'"
                        [style.margin-bottom]="'0'">
                        <button (click)="images.splice(i, 1)" class="delete"></button>
                    </div>
                    <button type="button" (click)="swapMain(i)" [class.is-outlined]="i!=0" class="button is-fullwidth is-primary">Principal</button>
                    <div class="select">
                        <select name="color{{i}}" [(ngModel)]="image.color">
                            <option [value]="undefined"> Sin color</option>
                            <option *ngFor="let color of colors" [value]="color">{{color}}</option>
                        </select>
                    </div>
                    <input name="variant{{i}}" [(ngModel)]="image.variant" class="input" type="text" placeholder="Variante">
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Seleccionar Sección</label>
        <div class="control">
            <div class="select">
                <select id="section" name="section" [(ngModel)]="product.section" (change)="sectionChanged()" required>
                    <option value="" disabled>Seleccionar Sección</option>
                    <option *ngFor="let sec of sections" [value]="sec._id">{{sec.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <article *ngIf="product.section == undefined || product.section == ''" class="notification is-warning">
        <p>
            Debe seleccionar una sección.
        </p>
    </article>
    <div class="field">
        <label class="label">Seleccionar Categoría</label>
        <div class="control">
            <div class="select">
                <select id="category" name="category" [(ngModel)]="product.category" (change)="categoryChanged()" required>
                    <option value="" disabled>Seleccionar Categoría</option>
                    <option *ngFor="let cat of categories" [value]="cat._id">{{cat.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <article *ngIf="product.category == undefined || product.category == ''" class="notification is-warning">
        <p>
            Debe seleccionar una categoría.
        </p>
    </article>
    <div class="field">
        <label class="label">Seleccionar Subcategoría</label>
        <div class="control">
            <div class="select">
                <select id="subcategory" name="subcategory" [(ngModel)]="product.subcategory" (change)="subcategoryChanged()">
                    <option value="" disabled>Seleccionar Subcategoría</option>
                    <option *ngFor="let subcat of subcategories" [value]="subcat._id">{{subcat.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Seleccionar Marca</label>
        <div class="control">
            <div class="select">
                <select id="brand" name="brand" [(ngModel)]="product.brand" (change)="brandChanged()">
                    <option value="" disabled>Seleccionar Marca</option>
                    <option *ngFor="let br of brands" [value]="br._id">{{br.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <article *ngIf="product.brand == undefined || product.brand == ''" class="notification is-warning">
        <p>
            Debe seleccionar una marca.
        </p>
    </article>
    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input name="slide" [(ngModel)]="slide" type="checkbox">
                Agregar Slide
            </label>
        </div>
    </div>
    <div *ngIf="slide" class="field">
        <div class="file has-text-centered is-boxed is-fullwidth is-large is-warning">
            <label class="file-label">
                <input name="slide" accept="image/*" (change)="slideFile.file = $event.target.files[0];getSlide()" class="file-input" type="file" required>
                <span class="file-cta">
                    <span class="file-icon">
                        &#8756;
                    </span>
                    <span class="file-label">{{slideFile.url==''?'Subir Foto':'Cambiar Foto'}} <span class="is-size-6">1156x420</span></span>
                </span>
            </label>
        </div>
        <div class="control">
            <img [src]="getImageSrc(slideFile.url)">
            <button (click)="slideFile={url:''}" type="button" [class.srg-hide]="slideFile.url == ''" class="delete" style="position: absolute;top:0.5rem;right:0.5rem"></button>
        </div>
        <!--<label for="slideURL" class="label">Slide <small class="has-text-weight-normal"> 1156x420</small> </label>
        <input type="text" name="slideURL" class="input" placeholder="URL" [(ngModel)]="slideURL.url" required>-->
    </div>
    <div class="field is-grouped is-grouped-right">
        <div class="control">
            <button
            *ngIf="edit"
            (click)="cancelEdit()"
            type="button"
            class="button">Cancelar</button>
        </div>
        <div class="control">
            <button
                [className]="loading?'button is-primary is-loading':'button is-primary'"
                [disabled]="!prodForm.form.valid || validateForm()"
                >{{edit?'Actualizar Producto':'Crear Producto'}}</button>
        </div>
    </div>
</form>

<app-alert></app-alert>