<div class="container">

    <div class="level is-mobile" style="padding: 1rem">
        <div class="level-left">
            <span class="level-item is-uppercase title is-6">Lista de productos</span>
        </div>
        <div class="level-right is-hidden-tablet">
            <button class="level-item button is-primary" (click)="filter = !filter">{{filter?'Cancelar':'Filtrar'}}</button>
        </div>
    </div>

    <div class="columns is-hidden-mobile">
        <div class="column is-one-fifth">
            <div class="card" style="padding: 0.5rem">
                <h1 class="subtitle">Filtrar por</h1>
                <form class="field" (ngSubmit)="getProducts()">
                    <label class="label" for="search">Buscar</label>
                    <div class="field has-addons">
                        <p class="control">
                            <input [(ngModel)]="query.description" name="search" class="input" type="text" placeholder="Descripción">
                        </p>
                        <p class="control">
                            <button type="submit" class="button is-beige-lighter">🔍</button>
                        </p>
                    </div>
                </form>
                <form class="field" (ngSubmit)="getProducts()">
                    <label class="label">Rango de Precios</label>
                    <div class="field has-addons">
                        <div class="control">
                            <input [(ngModel)]="query.minPrice" class="input" type="number" name="minprice" placeholder="Mínimo">
                        </div>
                        <div class="control">
                            <a class="button is-static input-color is-borderless">
                            -
                            </a>
                        </div>
                        <div class="control">
                            <input [(ngModel)]="query.maxPrice" class="input" type="number" name="maxprice" placeholder="Máximo">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button" type="submit">Aplicar</button>
                        </div>
                    </div>
                </form>
                <div class="field">
                    <label class="label">Sección</label>
                    <ul class="menu-list">
                        <li><a [class.is-active]="query.section=='t' || query.section==undefined"
                            (click)="query.section='t';fillCategories()">Todo</a></li>
                        <li *ngFor="let sec of sections">
                            <a [class.is-active]="query.section==sec._id"
                            (click)="query.section=sec._id;fillCategories()">{{sec.name}}</a>
                        </li>
                    </ul>
                </div>
                <div [class.srg-hide]="query.section=='t' || query.section==undefined" class="field">
                    <label class="label">Categoría</label>
                    <ul class="menu-list">
                        <li><a [class.is-active]="query.category=='t' || query.category==undefined"
                            (click)="query.category='t';fillSubcategories()">Todo</a></li>
                        <li *ngFor="let cat of categories">
                            <a [class.is-active]="query.category==cat._id"
                            (click)="query.category=cat._id;fillSubcategories()">{{cat.name}}</a>
                        </li>
                    </ul>
                </div>
                <div [class.srg-hide]="query.category=='t' || query.category==undefined" class="field">
                    <label class="label">Subcategoría</label>
                    <ul class="menu-list">
                        <li><a [class.is-active]="query.subcategory=='t' || query.subcategory==undefined"
                            (click)="query.subcategory='t';subcategoryChange()">Todo</a></li>
                        <li *ngFor="let sub of subcategories">
                            <a [class.is-active]="query.subcategory==sub._id"
                            (click)="query.subcategory=sub._id;subcategoryChange()">{{sub.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="field">
                    <label class="label">Marca</label>
                    <ul class="menu-list">
                        <li><a [class.is-active]="query.brand=='t' || query.brand==undefined"
                            (click)="query.brand='t';brandChange()">Todo</a></li>
                        <li *ngFor="let br of brands">
                            <a [class.is-active]="query.brand==br._id"
                            (click)="query.brand=br._id;brandChange()">{{br.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="field">
                    <div class="control">
                        <button (click)="getProducts()" class="button">Aplicar</button>
                    </div>
                </div>
                <!--FILTER-->
            </div>
        </div>
        <div class="column">
            <div *ngFor="let x of array;  let i = index" class="columns">
                <div *ngFor="let product of products.slice(i*3, i*3+3)" class="column is-one-third">
                    <app-product-tile
                        (detail)="productDetail($event)"
                        (deleteProduct)="deleteProduct($event)"
                        (editProduct)="edit($event)"
                        [admin]="true"
                        [product]="product"></app-product-tile>
                </div>
            </div>

            <div *ngIf="pages!=0" class="buttons is-centered has-addons">
                <button *ngIf="page!=1" (click)="page=page-1;getProducts(true)" class="button is-rounded">&#171;</button>
                <button
                    *ngFor="let p of arrayPages"
                    (click)="page=p;getProducts(true)"
                    class="button is-rounded"
                    [ngClass]="p==page?'is-static':''"
                    >{{p}}</button>
                <button *ngIf="page!=pages" (click)="page=page+1;getProducts(true)" class="button is-rounded">&#187;</button>
            </div>
        </div>
    </div>

    <div [class.srg-hide]="filter">
        <div *ngFor="let x of arrayMobile;  let i = index" class="columns is-mobile is-hidden-tablet">
            <div *ngFor="let product of products.slice(i*2, i*2+2)" class="column is-half">
                <app-product-tile
                    (detail)="productDetail($event)"
                    (deleteProduct)="deleteProduct($event)"
                    (editProduct)="edit($event)"
                    [admin]="true"
                    [product]="product"></app-product-tile>
            </div>
        </div>

        <div class="buttons is-centered has-addons is-hidden-tablet">
            <button *ngIf="page!=1" (click)="page=page-1;getProducts(true)" class="button is-rounded">&#171;</button>
            <button
                *ngFor="let p of arrayPages"
                (click)="page=p;getProducts(true)"
                class="button is-rounded"
                [ngClass]="p==page?'is-static':''"
                >{{p}}</button>
            <button *ngIf="page!=pages" (click)="page=page+1;getProducts(true)" class="button is-rounded">&#187;</button>
        </div>
    </div>

    <div [className]="filter?'is-hidden-tablet':'srg-hide'" style="padding: 0.5rem">
        <h1 class="subtitle">Filtrar por</h1>
        <form class="field" (ngSubmit)="getProducts()">
            <label class="label" for="search">Buscar</label>
            <div class="field has-addons">
                <p class="control" style="width:-webkit-fill-available">
                    <input [(ngModel)]="query.description" name="search" class="input" type="text" placeholder="Descripción">
                </p>
                <p class="control">
                    <button type="submit" class="button is-beige-lighter">🔍</button>
                </p>
            </div>
        </form>
        <form class="field" (ngSubmit)="getProducts()">
            <label class="label">Rango de Precios</label>
            <div class="field has-addons">
                <div class="control" style="width:-webkit-fill-available">
                    <input [(ngModel)]="query.minPrice" class="input" type="number" name="minprice" placeholder="Mínimo">
                </div>
                <div class="control">
                    <a class="button is-static input-color is-borderless">
                    -
                    </a>
                </div>
                <div class="control" style="width:-webkit-fill-available">
                    <input [(ngModel)]="query.maxPrice" class="input" type="number" name="maxprice" placeholder="Máximo">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button" type="submit">Aplicar</button>
                </div>
            </div>
        </form>
        <div class="field">
            <label class="label">Sección</label>
            <ul class="menu-list">
                <li><a [class.is-active]="query.section=='t' || query.section==undefined"
                    (click)="query.section='t';fillCategories()">Todo</a></li>
                <li *ngFor="let sec of sections">
                    <a [class.is-active]="query.section==sec._id"
                    (click)="query.section=sec._id;fillCategories()">{{sec.name}}</a>
                </li>
            </ul>
        </div>
        <div [class.srg-hide]="query.section=='t' || query.section==undefined" class="field">
            <label class="label">Categoría</label>
            <ul class="menu-list">
                <li><a [class.is-active]="query.category=='t' || query.category==undefined"
                    (click)="query.category='t';fillSubcategories()">Todo</a></li>
                <li *ngFor="let cat of categories">
                    <a [class.is-active]="query.category==cat._id"
                    (click)="query.category=cat._id;fillSubcategories()">{{cat.name}}</a>
                </li>
            </ul>
        </div>
        <div [class.srg-hide]="query.category=='t' || query.category==undefined" class="field">
            <label class="label">Subcategoría</label>
            <ul class="menu-list">
                <li><a [class.is-active]="query.subcategory=='t' || query.subcategory==undefined"
                    (click)="query.subcategory='t';subcategoryChange()">Todo</a></li>
                <li *ngFor="let sub of subcategories">
                    <a [class.is-active]="query.subcategory==sub._id"
                    (click)="query.subcategory=sub._id;subcategoryChange()">{{sub.name}}</a>
                </li>
            </ul>
        </div>
        <div class="field">
            <label class="label">Marca</label>
            <ul class="menu-list">
                <li><a [class.is-active]="query.brand=='t' || query.brand==undefined"
                    (click)="query.brand='t';brandChange()">Todo</a></li>
                <li *ngFor="let br of brands">
                    <a [class.is-active]="query.brand==br._id"
                    (click)="query.brand=br._id;brandChange()">{{br.name}}</a>
                </li>
            </ul>
        </div>
        <div class="field">
            <div class="control">
                <button (click)="getProducts()" class="button">Aplicar</button>
            </div>
        </div>
    </div>
</div>

<app-alert></app-alert>