<h2 class="subtitle">Editar Marcas</h2>
<form #brandForm="ngForm" (ngSubmit)="submit()">
    <div class="field">
        <label class="label">Seleccionar Marca</label>
        <div class="control">
            <div class="select">
                <select id="brand" name="brand" [(ngModel)]="brand" (change)="name=brand=='n'? '': getBrand(brand).name">
                    <option value="n">Registrar Marca</option>
                    <option *ngFor="let br of brands" [value]="br._id">{{br.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <label for="name" class="label">Nombre</label>
        <input type="text" name="name" class="input" placeholder="Marca" [(ngModel)]="name" required>
    </div>
    <div class="field is-grouped is-grouped-right">
        <div class="control">
            <button type="button" *ngIf="brand!='n'" (click)="delete()" [className]="loading?'button is-danger is-loading':'button is-danger'">Eliminar</button>
        </div>
        <div class="control">
            <button
            type="submit"
            [className]="loading?'is-loading button is-primary':'button is-primary'"
            [disabled]="!brandForm.form.valid">{{brand=='n'? 'Registrar Marca': 'Actualizar Marca'}}</button>
        </div>
    </div>
</form>

<app-alert></app-alert>