<app-nav (sectionEmitter)="sections = $event" (brandEmitter)="brands = $event"></app-nav>

<div *ngIf="loaded" class="container srg-btm">
    <br>
    <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs" style="margin-left: 0.75rem">
        <ul>
            <li><a routerLink="/" >{{title}}</a></li>
            <li><a routerLink="/Catalogo">Catálogo</a></li>
            <li><a routerLink="/{{product.sectionName}}">{{product.sectionName}}</a></li>
            <li><a routerLink="/{{product.sectionName}}/{{product.categoryName}}">{{product.categoryName}}</a></li>
            <li *ngIf="product.subcategoryName"><a routerLink="/{{product.sectionName}}/{{product.categoryName}}/{{product.subcategoryName}}">{{product.subcategoryName}}</a></li>
            <li><a routerLink="/{{product.sectionName}}/{{product.categoryName}}/{{product.subcategoryName}}/Marcas/{{product.brandName}}">{{product.brandName}}</a></li>
            <li class="is-active"><a>{{product.description}}</a></li>
        </ul>
    </nav>

    <div class="columns">
        <div class="column is-half">
            <figure class="srg-image-4-3"
                [ngStyle]="getStyle(i)">
                <!--[style.background]="'url('+getImage(product.image[i].url)+')'"
                [style.background-position]="'center'"
                [style.background-size]="'cover'">
                <img [src]="product.image">-->
            </figure>
            <div style="display: flex;flex-wrap: wrap">
                <div
                    *ngFor="let image of product.image; let j = index"
                    (mouseover)="i = j"
                    [style.margin]="j==0?'5px 5px 5px 0':'5px'"
                    [style.border-style]="i==j?'solid':'none'"
                    style="width: 64px;border-width: 2px"
                    [className]="image.variant?'tooltip is-tooltip-bottom':''"
                    [attr.data-tooltip]="image.variant">
                    <div *ngIf="image.url != ''" class="srg-image-4-3 notification"
                        [style.background]="'url('+getImage(image.url)+')'"
                        [style.background-position]="'center'"
                        [style.background-size]="'cover'"
                        [style.margin-bottom]="'0'">
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <h1 class="title">{{product.brandName}}</h1>
            <h2 class="subtitle">{{product.description}}</h2><br>
            <h1 class="title">{{product.price | currency: 'COP': '$ '}}</h1>

            <div class="field has-addons">
                <div class="control">
                    <div class="field has-addons">
                        <div class="control">
                            <button (click)="quantity = quantity<=1?1:quantity-1" class="button is-light">-</button>
                        </div>
                        <div class="control">
                            <input (change)="quantity=quantity<1?1:quantity>max?max:quantity" [(ngModel)]="quantity" class="input is-light" type="number" name="quantity" style="width:4rem;text-align: center">
                        </div>
                        <div class="control">
                            <button (click)="quantity = quantity >= max? max: quantity+1" class="button is-light" style="border-top-right-radius: 4px;border-bottom-right-radius: 4px">+</button>
                        </div>
                    </div>
                </div>
                <div class="control level"><span class="subtitle">&nbsp;&nbsp;{{product.price*quantity | currency: 'COP': '$ '}}</span></div>
            </div>
            
            <div class="field is-grouped">
                <div class="control is-expanded">
                    <label class="label">Talla <a href="{{url}}#Tallas">Cómo elegir talla.</a></label>
                    <div class="control select is-rounded" [class.is-fullwidth]="variants.length != 0">
                        <select [(ngModel)]="size" name="size" id="size">
                            <option value="" disabled>Seleccionar Talla</option>
                            <option *ngFor="let s of product.sizes" [value]="s">{{s}}</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="variants.length != 0" class="control is-expanded">
                    <label class="label">Variante</label>
                    <div class="control select is-fullwidth is-rounded">
                        <select [(ngModel)]="variant" name="variant" id="variant">
                            <option value="" disabled>Seleccionar Variante</option>
                            <option *ngFor="let v of variants" [value]="v">{{v}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="buttons are-medium">
                <button (click)="addCartItem()" class="button is-rounded is-primary is-fullwidth">🛒 Agregar al carrito</button>
                <button class="button is-rounded is-primary is-outlined is-fullwidth">🏷 Comprar Ahora</button>
            </div>
            <div class="notification is-warning"><h2 class="subtitle">Compra ahora y paga cuando el producto llegue a tu casa!</h2></div>
        </div>
    </div>

    <div class="is-divider" [attr.data-content]="title"></div>

    <div class="columns">
        <div class="column">
            <a id="Tallas" class="hash-link"></a>
            <h2 class="subtitle"><a href="{{url}}#Tallas">#</a> Cómo elegir talla.</h2>
            <table class="table table-text-centered is-fullwidth">
                <thead>
                    <tr>
                        <th>EUR</th>
                        <th>Longitud del pie (cm)</th>
                        <th>US</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>EUR</th>
                        <th>Longitud del pie (cm)</th>
                        <th>US</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>37</td>
                        <td>24</td>
                        <td>6½</td>
                    </tr>
                    <tr>
                        <td>37½</td>
                        <td>24.5</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>38</td>
                        <td>25</td>
                        <td>7½</td>
                    </tr>
                    <tr>
                        <td>38½</td>
                        <td>25.5</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>26</td>
                        <td>8½</td>
                    </tr>
                    <tr>
                        <td>40</td>
                        <td>26.5</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>40½</td>
                        <td>27.25</td>
                        <td>9½</td>
                    </tr>
                    <tr>
                        <td>41</td>
                        <td>28</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>41½</td>
                        <td>28.5</td>
                        <td>10½</td>
                    </tr>
                    <tr>
                        <td>42</td>
                        <td>29</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>42½</td>
                        <td>29.5</td>
                        <td>11½</td>
                    </tr>
                    <tr>
                        <td>43</td>
                        <td>30</td>
                        <td>12</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="column">
            <h2 class="subtitle">Productos Relacionados</h2>
            <div style="height: 550px;overflow: auto;padding: 0 0.75rem">
                <div *ngFor="let x of arrayMobile;  let i = index" class="columns is-mobile">
                    <div *ngFor="let prod of products.slice(i*2, i*2+2)" class="column is-half">
                            <a routerLink="/Producto/{{getURL(prod)}}"><app-product-tile [product]="prod"></app-product-tile></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer [brands]="brands" [sections]="sections"></app-footer>

<app-alert></app-alert>